

.card {
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
    color: rgb(36, 36, 36);
}

.card img {
    width: 100%;
    height: auto;
}

.card-info {
    padding: 20px;
}

.card-info h3 {
    margin-top: 0;
}

.card-info p {
    margin-bottom: 0;
}
