{% include 'menu.html' %}
<h1>Add Pets Screen.</h1>
<form action="/add-pets" method="post">
  <label for="tutor">Tutor:</label>
  <input class="input-style" type="text" id="tutor" name="tutor"><br><br>
  <label for="name">Pet:</label>
  <input class="input-style" type="text" id="pet" name="pet"><br><br>
  <label for="name">Species:</label>
  <input class="input-style" type="text" id="species" name="species"><br><br>
  <label for="name">Birthdate:</label>
  <input class="input-style" type="text" id="birthdate" name="birthdate"><br><br>
  <button type="submit">Add Pet</button>
</form>
