<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/add-pets">Add Pets</a></li>
        <li><a href="/list-pets">List Pets</a></li>
        <li><a href="/search-pets">Search Pets</a></li>
      </ul>      



      <footer>
        <b>
        <p>Olá, boa noite!<br><span id="datetime"></span></p>
        </b>
      </footer>
      
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/50ad8a128d.js" crossorigin="anonymous"></script>
</body>
</html>