{% extends "base.html" %}

{% block main %}

    <h1>Olá, seja bem-vindo(a) à Pizzaria Delivery!</h1>
    <h1 id="saudacao"></h1>

    <script>
        var saudacao = document.getElementById("saudacao");
        var horaAtual = new Date().getHours();

        if (horaAtual >= 6 && horaAtual < 12) {
            saudacao.textContent = "Bom dia!";
        } else if (horaAtual >= 12 && horaAtual < 18) {
            saudacao.textContent = "Boa tarde!";
        } else {
            saudacao.textContent = "Boa noite!";
        }
    </script>

    <h1>Esta é a página inicial.</h1>

{% endblock %}