{% extends "base.html" %}

{% block main %}
    <h1>Lanches</h1>
    <ul class="image-list">
        <li><img src="https://img.freepik.com/fotos-gratis/saboroso-hamburguer-de-carne-com-queijo-e-salada-de-frente-no-fundo-escuro_140725-89597.jpg" alt="Hambúrguer"></li>
        <li><img src="https://img.freepik.com/fotos-gratis/saboroso-hamburguer-de-carne-com-queijo-e-salada-de-frente-no-fundo-escuro_140725-89597.jpg" alt="Pizza"></li>
        <li><img src="https://img.freepik.com/fotos-gratis/saboroso-hamburguer-de-carne-com-queijo-e-salada-de-frente-no-fundo-escuro_140725-89597.jpg" alt="Sanduíche"></li>
        <li><img src="https://img.freepik.com/fotos-gratis/saboroso-hamburguer-de-carne-com-queijo-e-salada-de-frente-no-fundo-escuro_140725-89597.jpg" alt="Batata Frita"></li>
    </ul>

{% endblock %}