{% extends "base.html" %}

{% block main %}

    <h1>Lugares</h1>
    <h3>Atendemos em Cedro e região.</h3>
    <h1>Localização</h1>
    <div id="map"></div>

    <script>
        function initMap() {
            // Coordenadas do local
            var location = {lat: -23.5505, lng: -46.6333};

            // Opções do mapa
            var mapOptions = {
                zoom: 12,
                center: location
            };

            // Criação do mapa
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            // Marcador no mapa
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDI6vAcgPapNvLCvCR0lQoy6mZTk9-xJmw&callback=initMap" async defer></script>
</body>
</html>


{% endblock %}