<!DOCTYPE html>
<html>
<head>
  <title>JR - Curriculo</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 40px;
      background-color: black;
      color: white;
    }
    
    h1 {
      margin-bottom: 20px;
    }
    
    a {
      display: block;
      margin-bottom: 10px;
      color: white;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: none;
      color: aqua;
    }
  </style>
</head>
<body>
  <h1>Olá, este é o meu curriculo. :)</h1>
  <img src="https://pbs.twimg.com/media/EA7z8-zXUAAimCl.jpg"></img>
  <p></p>
  <a href="/sobre">Sobre</a>
  <a href="/exp">Experiência</a>
  <a href="/formacao">Formação</a>
  <a href="/contato">Contato</a>
</body>
</html>