body {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  background-color: #f2f2f2;
}

ul.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

ul.menu li {
  margin-right: 10px;
}

ul.menu li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

ul.menu li a:hover {
  background-color: #ccc;
}

.pet-table {
  width: 100%;
  border-collapse: collapse;
}

.pet-table th,
.pet-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.pet-table th {
  background-color: #f2f2f2;
}
z
.edit-link {
  color: blue;
  text-decoration: underline;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: darkred;
}

.input-style {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.input-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
