body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://img.freepik.com/free-vector/animal-background-vector-with-cute-pets-illustration_53876-127698.jpg');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(3px);
  margin: 0;
  padding: 0;
}

nav {
  background-color: #f2f2f2;
}

ul.menu {
  list-style-type: none;
  padding: auto;
  margin: auto;
  display: flex;
  background-color: #ffffff;
  font-weight: bold;
}

ul.menu li {
  margin-right: 10px;
}

ul.menu li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease;
}

ul.menu li a:hover {
  background-color: #ccc;
}

.pet-table {
  width: 100%;
  border-collapse: collapse;
}

.pet-table th,
.pet-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ffffff;
  padding: 20px;
}

.pet-table th {
  background-color: #ffffff;
  padding: 20px;
}

.edit-link {
  background-color: #00eeff;
  color: white;
  border: none;
  padding: 4px 6px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: darkred;
}

.input-style {
  padding: 10px;
  border: 2px solid #00eeff;
  border-radius: 5px;
  font-size: 16px;
  color: #00eeff;
  outline: none;
}

.input-style:focus {
  border-color: #00eeff;

  box-shadow: 0 0 0 0.2rem rgba(162, 249, 255, 0.25);
}

a {
  text-decoration: none;
  color: red;
}

footer {
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 3px;
  background-color: #00eeff;
  color: white;
}
