body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://img.freepik.com/free-vector/animal-background-vector-with-cute-pets-illustration_53876-127698.jpg');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(3px);
  margin: 0;
  padding: 0;
}

ul.menu {
  list-style-type: none;
  padding: auto;
  margin: auto;
  display: flex;
  background-color: #00eeff ;
  font-weight: bold;
}

ul.menu li {
  margin-right: 10px;
}

ul.menu li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease;
}

ul.menu li a:hover {
  background-color: #1ebcc7;
}

.pet-table {
  width: 100%;
  border-collapse: collapse;
}

.pet-table th,
.pet-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ffffff;
  padding: 20px;
}

.pet-table th {
  background-color: #ffffff;
  padding: 20px;
}

.edit-link {
  background-color: #00eeff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: darkred;
}

a {
  text-decoration: none;
  color: red;
}

.input-style {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 5px;
  width: 100%;
}

footer {
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 3px;
  background-image: url('https://media.istockphoto.com/id/1011583734/vector/monochrome-black-and-white-dog-cat-pet-animal-paw-foot-hand-drawn-ink-sketch-seamless.jpg?s=612x612&w=0&k=20&c=JSFAQeJvgctndBMWWjBA7qeOME7crE51XBFf4v_QooE=');
  color: white;
  box-shadow: 0px 0px 5px #c2c2c2;
}

.homescreen {
  margin: 50px;
  padding: 50px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: #ffffff;
  box-shadow: 0 0 10px #c2c2c2;
  border-radius: 10px;
  transition: ease-in 0.5s; 
}

.homescreen:hover {
  background-image: url('https://i.pinimg.com/originals/3c/03/e6/3c03e6afb5996b120c76ec429dfd7be5.png');
  background-size: cover;
  color: #fff;
  transform: scale(1.1);
}
